<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Edgar Trejo Avila">
    <title>Proyecto Del Tercer Parcial</title>
</head>
<body>
    <%- include('./menu-lateral.ejs') %>
        <% 
        if (typeof informacionDeRegistros == "undefined" && typeof informacionDeTablas != "undefined") { 
            %>

            <h1>
                <%- informacionDeTablas.baseDeDatosSeleccionada %>
            </h1>

            <div style="display: grid; grid-template-columns: repeat(4, 1fr);">

            <%
            for (let tabla of informacionDeTablas.tablas) {
                %>
                <a href="/databases/<%- informacionDeTablas.baseDeDatosSeleccionada %>/<%- tabla %>">
                    <%= tabla %>
                </a>
                <%
            }
            %>
                <a href="/new/<%- informacionDeTablas.baseDeDatosSeleccionada %>/table">Crear tabla</a>

            </div>

        <%
        } else if (typeof informacionDeRegistros != "undefined") {
            %>
            <%- 
                include("./tabla-de-registros");
            %>
            <%
        }
        %>
</body>
</html>