<link rel="stylesheet" href="/web/css/visualizador-de-tablas.css">

<div class="visualizador-de-tablas__container">
    <input type="text" name="" id="" value="<%- dashboardPayload.currentDatabase.name %>" class="visualizador-de-tablas__header-input">

    <div class="dashboard__card-container">
        <a href="/new/<%- getUrlForDatabase(dashboardPayload.currentDatabase) %>/table" class="dashboard__table-card dashboard__table-card--new-card">
            <div class="dashboard__table-card__image-wrapper">
                <div class="dashboard__table-card__image" style="background-image: url(/web/images/plus-icon.png);"></div>
            </div>
            <span class="dashboard__table-card__name">
                Crear tabla
            </span>
        </a>
        <%
            for (let table of dashboardPayload.currentTables) {
        %>
            <a class="dashboard__table-card" href="/databases/<%- getUrlForDatabase(dashboardPayload.currentDatabase) %>/<%- getUrlForTable(table) %>">
                <div class="dashboard__table-card__image-wrapper">
                    <div class="dashboard__table-card__image"></div>
                </div>
                <span class="dashboard__table-card__name">
                    <%= table.externalName %>
                </span>
            </a>
        <%
        }
        %>
    </div>
</div>