<h1>
    <%- informacionDeRegistros.tablaSeleccionada %>
</h1>
<a href="/delete/<%- informacionDeTablas.baseDeDatosSeleccionada %>/<%- informacionDeRegistros.tablaSeleccionada %>">Eliminar tabla</a>
<table>
    <thead>
        <tr>
            <% 
            for (let columna of informacionDeRegistros.esquema) {
                %> 
                <th>
                    <div style="display: flex; flex-direction: column;">
                        <div>
                            <label for="">Nombre</label>
                            <input type="text" name="" id="" value="<%- columna.nombreDeColumna %>">
                        </div>
                        <div>
                            <label for="">
                                Tipo de dato
                            </label>
                            <select name="" id="">
                                <option value="int" <% if (columna.tipoDeDato == "int") { %> selected="selected" <% } %> >
                                    Entero
                                </option>
                                <option value="double" <% if (columna.tipoDeDato == "double") { %> selected="selected" <% } %> >
                                    Decimal
                                </option>
                                <option value="date" <% if (columna.tipoDeDato == "date") { %> selected="selected" <% } %> >
                                    Fecha
                                </option>
                                <option value="text" <% if (columna.tipoDeDato == "text") { %> selected="selected" <% } %> >
                                    Texto
                                </option>
                            </select>
                        </div>
                        <div>
                            <label for="">
                                Tipo de clave
                            </label>
                            <select name="" id="">
                                <option value="" <% if (columna.tipoDeClave == "") { %> selected="selected" <% } %> >
                                    Ninguna
                                </option>
                                <option value="PRI" <% if (columna.tipoDeClave == "PRI") { %> selected="selected" <% } %> >
                                    Clave primaria
                                </option>
                                <option value="UNI" <% if (columna.tipoDeClave == "UNI") { %> selected="selected" <% } %> >
                                    Clave candidata
                                </option>
                                <option value="MUL" <% if (columna.tipoDeClave == "MUL") { %> selected="selected" <% } %> >
                                    Clave repetida
                                </option>
                            </select>
                        </div>
                        <div>
                            <label for="">Es nulo</label>
                            <input type="checkbox" <% if (columna.esNulo == 1) { %> checked <% } %>>
                        </div>
                        <div>
                            <label for="">Es autoincrementable</label>
                            <input type="checkbox" <% if (columna.esAutoincrementable == 1) { %> checked <% } %>>
                        </div>
                    </div>
                </th>
            <%
            }
                
            %>
        </tr>
    </thead>
    <tbody>
        <%
        for (let registro of informacionDeRegistros.registros) {
            %>
            
            <tr>
                <% 
                for (let columna of informacionDeRegistros.esquema) {
                    const valorActual = registro[columna.nombreDeColumna];
                    %>

                    <td>
                    <%
                    switch (columna.tipoDeDato) {
                        case "int":
                            %>

                            <input type="number" value="<%- valorActual %>">

                            <%
                            break;
                        
                        case "double":
                            %>
                            
                            <input type="number" step="0.01" value="<%- valorActual %>">

                            <%
                            break;


                        case "date":
                            %>

                            <input type="date" value="<%- valorActual %>">

                            <%
                            break;

                        case "text":
                            %>

                            <input type="text" value="<%- valorActual %>">

                            <%
                            break;
                    }
                    %>
                    </td>
                    <%
                }

                %>
            </tr>

            <%
        }
        %>
    </tbody>
</table>

